<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-card-title color="light">Editais Abertos</ion-card-title>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color ="dark">
    <ion-card-header>
        <img src="https://www.ifgoiano.edu.br/home/images/POSSE/Documentos/2018/Novembro/fiscal.jpg">
      <ion-card-subtitle>Fiscal</ion-card-subtitle>
      <ion-card-title>Concurso Sefaz BA</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Foi publicado o edital da Secretaria da Fazenda do Estado da Bahia. São ofertadas 60 vagas para Auditor Fiscal nas especialidades Administração, Finanças e Controle Interno; TI e Administração Tributária.
    </ion-card-content>
  </ion-card>
</ion-content>
