.Distancia{
  padding-left: 10px;
  padding-right: 0%;
}

.DistanciaTopo{
  padding-top: 20px;
  padding-right: 0%;
}

.imgem-grande{
  padding-top: 0%;
  padding-left: 0px;
  padding-right: 0%;
}
.Top ion-img{
  --ion-toolbar-color-activated: #fff;
}

.Distancia-topo{
  padding-top: 10px
}

